body {
    margin: 0px;
    padding-top: 56px;
    font-size: 16px;
    font-family: Verdana, Arial, Helvetica, sans-serif;;
    line-height: 2.4rem;
}
.mk-heading {
    font-size: 36px;
    line-height: 44px;
}
.mk-paragraph {
    font-size: 18px;
    line-height: 24px;
}

.tp-green {
    background-color: #4acbd6;
    width: 100%;
}

.light-white {
    background-color: #F8F8F8;
    width: 100%;
}

.content-border {
    border-bottom: 15px solid #fff;
}

.mk-footer {
    height: 60px;
    line-height: 60px;
}